
<form [formGroup]="stuForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" placeholder="Ex. First Name" formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Ex Last Name" formControlName="lastName">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Tz</mat-label>
                <input matInput type="tz" placeholder="tz" formControlName="tz">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Date of birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="gender">
                <mat-label><b>Gender</b></mat-label>
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="others">Others</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Country Of Birth</mat-label>
                <input matInput placeholder="Ex. Israel" formControlName="countryOfBirth">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Hativa</mat-label>
                <mat-select formControlName="hativa">
                    <mat-option *ngFor="let val of education" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>   
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Kita</mat-label>
                <input matInput type="text" placeholder="Ex. Kita" formControlName="kita">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <input matInput placeholder="Ex. Status" formControlName="status">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update':'Save'}}</button>
    </div>
</form>